<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div>
    <ul>
        <li>1 - Tom</li>
        <li>2 - Jerry</li>
        <li>3 - Donald</li>
    </ul>
</div>
<div align="center">
    <h2>Send Money</h2>
    <div style="color:red;font-style:italic"
         th:if="${errorMessage!=null}" th:utext="${errorMessage}">..
    </div>

    <form method="POST" th:action="@{/bankaccount/sendMoney}" th:object="${sendMoneyForm}">
        <table>

            <tr>
                <td>From Bank Account Id</td>
                <td><input th:field="*{fromAccountId}" type="text"/></td>
            </tr>
            <tr>
                <td>To Bank Account Id</td>
                <td><input th:field="*{toAccountId}" type="text"/></td>
            </tr>
            <tr>
                <td>Amount</td>
                <td><input th:field="*{amount}" type="text"/></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Send"/></td>
            </tr>
        </table>
    </form>


</div>
<footer th:insert="fragments.html :: footer"></footer>
</body>
</html>