<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<script th:src="@{/js/uploadexcel.js}" type="text/javascript"></script>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container" align="center">
    <div th:if="${errorMessage!=null}"
         style="color:red;font-style:italic" th:utext="${errorMessage}">..
    </div>
    This is Upload Excel Page
    <form th:action="@{/bankaccount/import}" method="post" enctype="multipart/form-data">
        <input type="file" th:name="file"/>
        <input th:type="submit" value="Import"/>
    </form>
</div>
<footer th:insert="fragments.html :: footer"></footer>
</body>
</html>